{% extends "stripe/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = true %}
{#{% do view.registerTranslations('stripe', [
    "Topic",
    "Address"
]) %}#}

{% block content %}
    {% set headlessMode = craft.app.config.general.headlessMode %}
    {{ actionInput('stripe/settings/save-settings') }}
    {{ redirectInput('stripe/settings') }}

    <div id="api">
        {{ forms.autosuggestField({
            first: true,
            label: 'Secret Key'|t('stripe'),
            id: 'secretKey',
            name: 'settings[secretKey]',
            value: settings.secretKey,
            errors: settings.getErrors('secretKey'),
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        {{ forms.autosuggestField({
            first: true,
            label: 'Public Key'|t('stripe'),
            id: 'publicKey',
            name: 'settings[publicKey]',
            value: settings.publicKey,
            errors: settings.getErrors('publicKey'),
            suggestEnvVars: true,
            autofocus: true,
        }) }}
    </div>
{% endblock %}