{% extends "stripe/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set fullPageForm = true %}

{% block content %}
    {% set headlessMode = craft.app.config.general.headlessMode %}
    {{ actionInput('stripe/settings/save-settings') }}
    {{ redirectInput('stripe/settings') }}

    <div id="api">
        {% include 'stripe/settings/_api.twig' %}
    </div>

    <div id="products" class="hidden">
        {% include 'stripe/settings/_products.twig' %}
    </div>

    <div id="prices" class="hidden">
        {% namespace "prices-layout" %}
            {{ forms.fieldLayoutDesignerField({
                fieldLayout: settings.getPriceFieldLayout(),
                type: 'craft\\stripe\\elements\\Price'
            }) }}
        {% endnamespace %}
    </div>

    <div id="subscriptions" class="hidden">
        {% namespace "subscriptions-layout" %}
            {{ forms.fieldLayoutDesignerField({
                fieldLayout: settings.getSubscriptionFieldLayout(),
                type: 'craft\\stripe\\elements\\Subscription'
            }) }}
        {% endnamespace %}
    </div>
{% endblock %}