{% extends "_layouts/elementindex" %}
{% set title = "Stripe Products"|t('stripe') %}
{% set elementType = 'craft\\stripe\\elements\\Product' %}
{% set canHaveDrafts = true %}
{% set selectedSubnavItem = 'stripeProducts' %}

{% block toolbar %}
    {{ parent() }}

    {% if newProductUrl %}
        <a data-icon="external" class="btn submit" href="{{ newProductUrl }}"
           target="_blank">{{ 'New Product'|t('stripe') }}</a>
    {% endif %}
{% endblock %}