@import "node_modules/craftcms-sass/_mixins";

.status.stripe-status {
  margin-inline-start: 0.25em;
  margin-inline-end: 0.25em;
}

.user-customers {
  li {
    padding: 0.5em 0;
  }
  a {
    position: relative;

    span {
      position: absolute;
      top: -0.25em;
    }
  }
}

.proxy-element-card {
  display: grid;
  padding-inline: 0;
  padding-block-start: var(--spacing);

  .pec-header {
    grid-column-start: 1;
    grid-column-end: 1;
    color: $textColor;
    width: 100%;
    padding-inline: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:hover {
      color: $textColor;
      text-decoration: none;
    }

    .pec-external-icon {
      color: $textColor;
      margin-inline-end: 6px;
    }

    &:hover {
      .pec-external-icon {
        color: $linkColor;
      }
    }

    .pec-title {
      margin-block-end: 0;
    }

    .pec-subtitle {
      margin: 0.2em 0;
    }
  }

  .meta {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-inline: 0;

    ul.elements {
      width: 100%;
    }
  }

  .pec-footer {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    @include right(0);
    font-size: 12px;
    background-color: $grey100;
    border-bottom-left-radius: $largeBorderRadius;
    border-bottom-right-radius: $largeBorderRadius;
    padding-block: 10px;
    padding-inline: var(--padding);

    a {
      color: $textColor;
      text-decoration: underline;
    }

    a:hover {
      color: $linkColor;
      text-decoration: underline;
    }

    .spinner {
      position: absolute;
      top: 50%;
      @include right(0px);
      transform: translate(-50%, -50%);
    }
  }
}

#subscriptions-vue-admin-table {
  overflow: scroll;
}
