{% extends "_layouts/cp" %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = "Stripe Invoices"|t('stripe') %}
{% set selectedSubnavItem = 'stripeInvoices' %}

{% block actionButton %}
    {% if newInvoiceUrl %}
        <a data-icon="external" class="btn submit" href="{{ newInvoiceUrl }}"
           target="_blank">{{ 'New Invoice'|t('stripe') }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="invoices-vue-admin-table"></div>
{% endblock %}
{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('stripe', 'Invoice No'), sortField: 'number' },
        { name: 'amount', title: Craft.t('stripe', 'Amount'), sortField: 'custom:total:decimal' },
        { name: 'customerEmail', title: Craft.t('stripe', 'Customer Email'), sortField: true },
        { name: 'stripeStatus', title: Craft.t('stripe', 'Status'), sortField: 'custom:status' },
        { name: 'due', title: Craft.t('stripe', 'Due'), sortField: 'custom:due_date' },
        { name: 'frequency', title: Craft.t('stripe', 'Frequency') },
        { name: 'created', title: Craft.t('stripe', 'Created'), sortField: 'custom:created' },
    ];

    new Craft.VueAdminTable({
        actions: false,
        checkboxes: false,
        columns: columns,
        fullPane: false,
        container: '#invoices-vue-admin-table',
        emptyMessage: Craft.t('stripe', 'No invoices exist yet.'),
        padded: true,
        tableDataEndpoint: '{{ tableDataEndpoint|raw }}',
        search: true,
        perPage: 100,
    });
{% endjs %}